.btn {
    border: 1px solid #BB6161;
    padding: 8px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12.8px;
    font-weight: 400;
    border-radius: 10px;
    color: #BB6161;
}