.userInfo {
    display: flex;
    align-items: center;
    gap: 10px;
    img {
        width: 16px;
        height: 16px;
    }
    div {
        display: flex;
        flex-direction: column;
        h4 {
            color: var(--green-color);
            font-size: 16px;
            font-weight: 600;
        }
        span {
            color: grey;
            font-size: 12.8px;
            font-weight: 400;
        }
    }
}